@model MovieSearchViewModel

@{
    ViewData["Title"] = "Search";
}

<form asp-action="Index" method="post">
    <input type="text" asp-for="Title" value="peaky" />

    <input type="radio" asp-for="Type" value="movie" /> Movies
    <input type="radio" asp-for="Type" value="series" checked="" /> Series
    <input type="radio" asp-for="Type" value="episode" /> Episodes

    <input type="radio" asp-for="Source" value="omdb" /> OMDb
    <input type="radio" asp-for="Source" value="local" checked="" /> Local

    <br />

    <input type="submit" name="name" value="Submit" />
</form>


@if (@Model.Source == "omdb")
{
    <h2>@Model.Movie.Title</h2>

    <p>@Model.Movie.Actors</p>
    <p>@Model.Movie.Plot</p>

    <add-to-list uid="@Model.UserID" title="@Model.Movie.Title" type="@Model.Movie.Type" />
}

else if (Model.Source == "local")
{
    if (Model.Movies.Count > 0)
    {
        foreach (var movie in Model.Movies)
        {
            <h2>@movie.Title</h2>

            <p>@movie.Type</p>

            <add-to-list title="@movie.Title" type="@movie.Type" />
        }
    }
    else
    {
        <p>No movies found matching your criteria.</p>
    }

}